.husky/**
.vscode/**
.vscode-test/**
out/test/**
compodoc/**
src/**
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.lintstagedrc
.prettierignore
.prettierrc
.yarnrc
commitlint.config.js
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.*.json
**/.eslintrc.json
**/*.map
**/*.ts
